<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/stylee.css" type="text/css" rel="stylesheet" />
  </head>
  <body background="/static/img/bj.png">
    <div
      class="col-xs-12 col-sm-10 col-md-8 col-lg-7 center-block"
      style="float: none"
    >
      <h3 class="text-muted" align="center">全民vip视频在线解析</h3>
      <section
        style="
          padding: 5px 10px;
          border-width: 0px 0px 0px;
          border-style: solid none none;
          border-left-color: rgb(219, 219, 219);
          border-top-color: rgb(255, 255, 255);
          border-bottom-left-radius: 2%;
          border-bottom-right-radius: 2%;
        "
        class="135brush"
      >
        <p style="letter-spacing: 1px; text-align: center">
          <span style="color: #7f7f7f"
            >免费全网影视VIP视频vip会员免广告看电影！
            若播放异常，刷新，更换接口尝试哦！
          </span>
        </p>
        <div class="language">
          <a
            class="btn2 btn-outline2"
            href="http://www.5h5h.net"
            rel="nofollow"
            target="_blank"
            style="color: red"
            >5h资源搜索</a
          >
          <a
            class="btn2 btn-outline2"
            href="http://qmaile.com/pan/"
            rel="nofollow"
            target="_blank"
            >全民vip网盘搜索</a
          >
          <a
            class="btn2 btn-outline2"
            href="https://28jx.com"
            rel="nofollow"
            target="_blank"
            >28导航-老司机导航</a
          >
          <a
            class="btn2 btn-outline2"
            href="https://www.hzgzn.com/"
            rel="nofollow"
            target="_blank"
            >QQ皇族馆</a
          >
          <br />
          <div id="gg11"></div>
        </div>
      </section>

      <div class="col-md-14 column">
        <div class="panel panel-default">
          <div id="kj" class="panel-body">
            <iframe
              src="ks.html?123123"
              id="player"
              width="100%"
              height="600px"
              allowTransparency="true"
              allowfullscreen="true"
              frameborder="0"
              scrolling="no"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<html>
  <body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
