<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if title %}
  <title>{{title}} - microblog</title>
  {% else %}
  <title>microblog</title>
  {% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link href="/static/css/stylee.css" type="text/css" rel="stylesheet" />
</head>

<body background="/static/img/bj.png">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light" style="margin:20px 10px;">
      <a class="navbar-brand">Navbar</a>
      <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="javascript:addFavorite()"
          type="submit">加入收藏</button>
      </form>
    </nav>
    <div class="row" style="margin-top: 16px;">
    </div>
    <div class="row">
      <!-- 播放器 -->
      <div class="col-9 col">
        <div class="panel panel-default">
          <div id="kj" class="panel-body">
            <iframe src="/static/img/bgimg004.jpg" id="player" width="100%" height="670px" allowTransparency="true"
              allowfullscreen="true" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>

      <!-- 选项卡 -->
      <div class="col-3 col">
        <div class="input-group" style="width: 100%">
          <span style="margin-right: 20px;">选择接口</span>
          <select class="form-control" id="jiekou" style="width: 40px;">
            <option value="http://jx.du2.cc/?url=" selected="">
              ⑤号通用vip引擎系统【全网解析】
            </option>
            <option value="http://jx.drgxj.com/?url=" selected="">
              ④号通用vip引擎系统【超级稳定通用】
            </option>
            <option value="http://jx.618ge.com/?url=" selected="">
              ③号通用vip引擎系统【稳定通用】
            </option>
            <option value="http://vip.jlsprh.com/?url=" selected="">
              ②号通用vip引擎系统【稳定通用】
            </option>
            <option value="http://jx.drgxj.com/?url=" selected="">
              <span style="color: red">无广告超速解析</span>【通用】
            </option>
            <option value="http://jx.598110.com/?url=" selected="">
              ①号通用vip引擎系统【稳定通用】
            </option>
            <option value="https://jx.idc126.net/jx/?url=" selected="">
              vip超清视频解析【全网vip解析】
            </option>
          </select>
        </div>
        <br />

        <div class="input-group" style="width: 100%">
          <span style="margin-right: 20px;">播放地址</span>
          <input class="form-control input-lg" type="search" placeholder="电脑使用Ctrl+V粘贴网址-手机直接长按粘贴网址" style="width: 40px;" id="video-url" />
        </div>
        <br />
        <div>
          <button id="bf" type="button" class="btn btn-success btn-block hidden-xs" onClick="btn_jiexi()">
            Go-点击开始解析
          </button>

          <button id="bf" style="margin-top: 5px" type="button" class="btn btn-success btn-block hidden-xs"
            onClick="btn_jiexi_new()">
            New-点击全屏解析
          </button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function btn_jiexi() {
      // 获取需要解析的地址
      var diz = document.getElementById("video-url").value;
      // 获取接口url
      var jkurl = document.getElementById("jiekou");
      var jk = document.getElementById("jiekou").selectedIndex;
      var jkv = jkurl.options[jk].value;
      // 获取播放器
      var cljurl = document.getElementById("player");
      // 拼接赋值
      cljurl.src = jkv + diz;
    }

    function btn_jiexi_new() {
      // 获取需要解析的地址
      var diz = document.getElementById("video-url").value;
      // 获取接口url
      var jkurl = document.getElementById("jiekou");
      var jk = document.getElementById("jiekou").selectedIndex;
      var jkv = jkurl.options[jk].value;
      // 获取播放器
      var cljurl = document.getElementById("player");
      window.open(jkv + diz, "_blank");
    }

    function addFavorite() {
      var url = window.location;
      var title = document.title;
      var ua = navigator.userAgent.toLowerCase();
      if (ua.indexOf("360se") > -1) {
        alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
      } else if (ua.indexOf("msie 8") > -1) {
        window.external.AddToFavoritesBar(url, title); //IE8
      } else if (document.all) {
        try {
          window.external.addFavorite(url, title);
        } catch (e) {
          alert("您的浏览器不支持,请按 Ctrl+D 手动收藏!");
        }
      } else if (window.sidebar) {
        window.sidebar.addPanel(title, url, "");
      } else {
        alert("您的浏览器不支持,请按 Ctrl+D 手动收藏!");
      }
    }
  </script>
</body>

</html>